<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.4.0/dist/vue-loading.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

</head>
<body>
  <div id="app">
    <div v-if="!orderSubmit" class="container py-5">
      <loading :active.sync="isLoading"></loading>
      <a class="material-icons text-secondary text-decoration-none" href="products.html">
          arrow_back
      </a>
      <!-- cart table 開始 -->
      <div class="row">
        <cart-detail-compo class="col col-12"
                    @change-loading-state="changeLoadingState"
                    @show-total-bill="showTotalBill">
        </cart-detail-compo>
      </div>
      <!-- cart table 結束 -->
      <h5 class="text-right h3">total: {{totalBill}}</h5>
      <button class="btn btn-secondary align-self-right mb-5" type="button"
              @click="isChecking = !isChecking"
              v-if="!isChecking && totalBill > 0">CheckOut</button>
      
      <!-- 表單 開始 -->
      <validation-observer v-slot="{ invalid }">
        <!-- v-slot="{  }" 看你想吐什麼出訊息，現在希望表單只要有一格不合規定，就視整個表單無效 -->
        <form v-if="isChecking"
              @submit.prevent="submitForm">
              <!-- .prevent 避免預設 -->
          <h3>Customer Info</h3>
          <div class="form-row">
            <div class="col col-5 mb-4 offset-md-1">
              <validation-provider rules="required" v-slot="{ errors, classes }">
                <!-- rules="" 看你想檢驗什麼規則，現在要確定姓名必填 -->
                <label for="fullName">Full Name</label>
                <!-- 用 v-model 綁定要被檢驗的值 -->
                <input id="fullName" type="text" 
                      :class="classes"
                      v-model="formInfo.name" class="form-control" placeholder="Full Name">
                <span class="invalid-feedback">{{errors[0]}}</span>
              </validation-provider>
            </div>
            <div class="col col-5 mb-4">
              <validation-provider rules="required" v-slot="{ errors, classes }">
                <label for="contactNumber">Contact Number</label>
                <input id="contactNumber" type="tel" 
                      :class="classes"
                      v-model="formInfo.tel" class="form-control" placeholder="Contact Number">
                <span class="invalid-feedback">{{errors[0]}}</span>
              </validation-provider>
            </div>
            <div class="col col-5 mb-4 offset-md-1">
              <validation-provider rules="required|email" v-slot="{ errors, classes }">
                <label for="email">Email Address</label>
                <input id="email" type="text"
                      :class="classes"
                      v-model="formInfo.email" class="form-control" placeholder="Email Address">
                <span class="invalid-feedback">{{errors[0]}}</span>
              </validation-provider>
            </div>
            <div class="col col-5 mb-4">
              <validation-provider rules="required" v-slot="{ errors, classes }">
                <label for="address">Address</label>
                <input id="address" type="text" 
                      :class="classes"
                      v-model="formInfo.address" class="form-control" placeholder="Address">
                <span class="invalid-feedback">{{errors[0]}}</span>
              </validation-provider>
            </div>
          </div>
  
          <h3>Payment Detail</h3>
          <div class="form-row">
            <div class="col col-5 mb-4 offset-md-1">
              <validation-provider rules="required" v-slot="{ errors, classes }">
                <label for="paymentMethod">Payment Method</label>
                <select id="paymentMethod"
                        v-model="formInfo.payment"
                        :class="classes" class="form-control custom-select" id="paymentMethodId">
                  <option selected disabled>Choose...</option>
                  <option value="WebATM">WebATM</option>
                  <option value="ATM">ATM</option>
                  <option value="Barcode">Barcode</option>
                  <option value="Credit">Credit</option>
                  <option value="ApplePay">ApplePay</option>
                  <option value="GooglePay">GooglePay</option>
                </select>
                <span class="invalid-feedback">{{errors[0]}}</span>
              </validation-provider>
            </div>
          </div>
          <!-- 確保整個表單合乎規定，submit 的按鈕才能按 -->
          <button :disabled="invalid" 
                  type="submit" class="btn btn-primary">Submit</button>
        </form>
      </validation-observer>
      <!-- 表單 結束 -->
    </div>
    <div v-if="orderSubmit" class="container pt-5">
      <h5>Dear {{orderInfo.user.name}}, we got your order, Thank you!</h5>
    </div>
  </div>


  <!-- axios cdn 開始 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- axios cdn 結束 -->
  <!-- vueLoading 開始 -->
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.4.0/dist/vue-loading.min.js"></script>
  <!-- vueLoading 結束 -->
  <!-- 自製 js 開始 -->
  <script type="module" src="js/cartAndCheck.js"></script>
  <!-- 自製 js 結束 -->
  <!-- bootstrap js cdn 開始 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- bootstrap js cdn 結束 -->
    
</body>
</html>